[Unit]
Description={{ app_name }} service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory={{ workdir }}
Environment="PYTHONUNBUFFERED=1"
ExecStart={{ venv }}/bin/uvicorn app.main:app --host 0.0.0.0 --port {{ port }}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
